<h3>Items</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  {{#each item in controller}}
    <tr>
      <td>
        {{item.name}}
      </td>
      <td>
        <button {{action "destroyItem" item}}>Remove</button>
      </td>
    </tr>
  {{/each}}
</table>

{{link-to "New Item" "items.new"}}
