<h3>New Item</h3>

<form {{action "saveItem" on="submit"}}>
  <div>
    <label>Name</label>
    {{input valueBinding="form.name"}}
    {{form.errors.name}}
  </div>

  <button>Save</button>
  or
  {{link-to "Cancel" "items.index"}}
</form>
